apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
    name: fastapi-hpa
    namespace: minecraft-servers
spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: fastapi-deployment
    minReplicas: 1
    maxReplicas: 10
    metrics:
        - type: Resource
          resource:
              name: cpu
              target:
                  type: Utilization
                  averageUtilization: 70
        - type: Resource
          resource:
              name: memory
              target:
                  type: Utilization
                  averageUtilization: 80